@import "@navikt/ds-css/dist/index.css";

.timeline-element {
  display: flex;
  margin-bottom: 8px;
}

.timeline-visual-indication {
  font-size: 32px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-right: 12px;
}

.timeline-vertical-line {
  height: 100%;
  width: 2px;
  margin-top: 5px;
  background-color: var(--navds-semantic-color-border-muted);
}

.label {
  font-size: var(--navds-font-size-large);
  font-weight: var(--navds-font-weight-bold);
  letter-spacing: 0;
  line-height: var(--navds-font-line-height-large);
  margin: 0;
}
