.container {
  background-color: white;
  height: calc(100% - 2rem);
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.container > a {
  color: #0067c5;
}

.container > iframe {
  margin-top: 0.5rem;
  width: 100%;
  box-shadow: 0 0 1rem #888;
  flex-grow: 1;
}
