name: Backup Routine
on:
  schedule:
    # Runs at 04:00 UTC on the 1st and 17th of every month
    - cron: "0 4 */16 * *"
  workflow_dispatch:

jobs:
  backup-dataset:
    runs-on: ubuntu-18.04
    name: Backup dataset
    defaults:
      run:
        working-directory: sanity
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Install dependencies
        run: npm install @sanity/cli
      - name: Export dataset
        env:
          SANITY_AUTH_TOKEN: ${{ secrets.SANITY_READ_TOKEN }}
        run: npx sanity dataset export production backups/backup.tar.gz
      - name: Upload backup.tar.gz
        uses: actions/upload-artifact@v2
        with:
          name: backup-tarball
          path: sanity/backups/backup.tar.gz
          # Fails the workflow if no files are found; defaults to 'warn'
          if-no-files-found: error